<div class="talk">

  <div class="header">
    <img src="assets/sample.jpg">
    <h1 class="talk-name">Family First</h1>
    <i class="fa fa-cog" aria-hidden="true"></i>
    <i class="fa fa-users" aria-hidden="true"></i>
  </div>

  <div class="message-box">
    <ul>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら<br><br>fsadf</p>
      </li>
    </ul>

    <div class="message-form">
    </div>
  </div>

</div>
