<div id="talk" class="full">

  <div class="message-header">
    <%= link_to root_path do %>
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    <% end %>
    <img src="assets/sample.jpg">
    <h1 class="talk-name">Family First</h1>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-cog fa-right" aria-hidden="true"></i>
    <% end %>
    <i class="fa fa-users fa-right" aria-hidden="true"></i>
  </div>

  <div class="message-box">
    <ul>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら</p>
      </li>
      <li class="myself">
        <span class="message-time">12:00</span>
        <p class="message-text">こんにちは</p>
      </li>
      <li class="you">
        <h4 class="other-name">you</h4>
        <span class="message-time">12:00</span>
        <p class="message-text">さようなら<br><br>fsadf</p>
      </li>
    </ul>

    <div class="message-form">
    </div>
  </div>

</div>
