<div class="talk">

  <div class="navi">
  </div>

  <div class="message-box">
    <h4 class="my-name">admin</h4>
    <p class="message-text">dsafasfmksafmlsmfk</p>
    <h4 class="other-name">
      <p>dfsafjfio;erngi;ogew</p>
  </div>

  <div class="message-form">
  </div>

</div>
