<div id="search-content" class="tab-content">
  <div id="user-search-box">
    <input id="user-search-field" placeholder="ユーザー名" type="text" style="width: 70vw; height: 50px;">
  </div>
  <ul id="user-search-result">
  </ul>
</div>
