<div id="talk-content" class="tab-content">
  <div id="talk-list__header">
    <h2 style="font-size: 10px">グループ検索機能</h2><!--仮置き -->
  </div>
  <div id="home__talk-list" class="full">
    <ul id="talk-list">
      <li class="talk">
        <%= link_to messages_path do %>
        <div class="talk-box">
          <img src="assets/sample.jpg">
          <h2 class="talk-box__name">You</h2>
          <p class="last-message">今日は昨日は楽しかったですね</p>
        </div>
        <% end %>
      </li>
      <li class="talk">
      <%= link_to messages_path do %>
        <div class="talk-box">
          <img src="assets/sample.jpg">
          <h2 class="talk-box__name">You</h2>
          <p class="last-message">今日は昨日は楽しかったですね</p>
        </div>
        <% end %>
      </li>
      <li class="talk">
      </li>
      <li class="talk">
      </li>
      <li class="talk">
      </li>
      <li class="talk">
      <%= link_to messages_path do %>
        <div class="talk-box">
          <img src="assets/sample.jpg">
          <h2 class="talk-box__name">You</h2>
          <p class="last-message">今日は昨日は楽しかったですね</p>
        </div>
        <% end %>
      </li>
      <li class="talk">
      </li>
    </ul>
  </div>
</div>
