html, body{
  width: 100%;
  height: 100%;
  color: $main-text;
  background-color: black;
}

#status-bar{
  height: 20px;
  background-color: yellow;
}

a{
  text-decoration: none;
  color: $main-text;
}

body{
}

input{
 color: $main-text;
}

.fa{
  color: $main-text;
}

input[type="text"]:focus {
  outline: 0; //入力時の枠
}


textarea{
  color: $main-text;
}

textarea:focus{
  outline: 0;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
