html, body{
  width: 100%;
  height: 100%;
  color: $main-text;
  background-color: black;
  position: fixed;
  z-index: 2;
}

#status-bar{
  height: 20px;
  background-color: yellow;
}

a{
  text-decoration: none;
  color: $main-text;
}

body{
}

input{
 color: $main-text;
}

.fa{
  color: $main-text;
}

input[type="text"]:focus {
  outline: 0; //入力時の枠
}
