#new-talk-mordal{
  width: 80vw;
  height: 60vh;
  background-color: white;
  top: 25vh;
  left: 10vw;
  z-index: 1;
  position: fixed;
  opacity: 0.8
}

#friends-request-mordal{
  width: 80vw;
  height: 60vh;
  background-color: white;
  top: 25vh;
  left: 10vw;
  z-index: 1;
  position: fixed;
  opacity: 0.9;
}

.mordal-image-box{
  width: 80vw;
  height: 60vw;
}

#friends-request-mordal img{
  width: 80vw;
  height: 60vw;
}

.mordal-box{
  height: calc(60vh - 60vw);
  width: 80vw;
  background-color: black;
}

.mordal-box .fa{
  margin-right: 30px;
  margin-top: 20px;
  float: right;
}

.mordal-box .fa:before{
  font-size: 15vw;
  color: $main-text;
}

#friends-request-mordal p{
  text-align: center;
  font-size: 6vw;
  color: $main-text;
}

#mordal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}
