#talk-list__header{
  height: 50px;
  background-color: black;
}

#home__talk-list{
  background-color: #0B1237;
  height: calc(100vh - 18vw);
  overflow: scroll;
}

#talk-list{

}

.talk:first-child{
  border: 2px solid black;
}

.talk{
  height: 14vh;
  border: solid black;
  border-width: 0 2px 2px 2px;
}

.talk-box{
  width: 100%;
  height: 100%;
}

.talk-box img{
  height: 12vh;
  width: 12vh;
  margin: 1vh 3vh 1vh 1vh;
  float: left;
}

.talk-box__name{
  color: #D0C6E0;
  font-size: 20px;
  line-height: 8vh;
}

.last-message{
  font-size: 15px;
  color: #D0C6E0;
  line-height: 5vh;
}
