#user-list__header{
  height: 15vw;
  background-color: black;
}

#home__user-list{
  background-color: #0B1237;
  height: calc(100vh - 33vw);
  overflow: scroll;
}

#user-list{
  height: 100%;
}

.user-box{
  height: 10vh;
}

.user-box img{
  height: 8vh;
  width: 8vh;
  margin: 1vh;
  float: left;
}

.user-box__name{
  font-size: 20px;
  line-height: 10vh;
  margin-left: 10px;
  float: left;
}
