#user-list__header{
  height: 50px;
  background-color: black;
}

#home__user-list{
  background-color: #0B1237;
  height: calc(100vh - 100px);
  overflow: scroll;
}

#user-list{
  height: 100%;
}

.user-box{
  height: 60px;
}

.user-box img{
  height: 50px;
  width: 50px;
  margin: 5px;
  float: left;
}

.user-box__name{
  font-size: 18px;
  line-height: 60px;
  margin-left: 10px;
  float: left;
}
