#home-header{
  height: 50px;
  width: 100%;
  background-color: #241F2D;
}

.tab-list li{
  width: 25vw;
  height: 50px;
  float: left;
  text-align: center;
}

.tab-list .fa{
  font-size: 40px;
  margin: 5px 0;
}

#home-contents{
  background-color: #0B1237;
  width: 100%;
  height: calc(100vh - 50px);
}
